.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  line-height: 13px;
  color: $black;
  background-color: $blue-gray;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.copyright__link:hover {
  color: $green-hover;
}

.copyright__link:focus {
  opacity: 0.4;
  outline: none;
}

.copyright__link:active {
  color: $green;
  opacity: 1;
}

// .products__link-title {
//   padding-bottom: 28px;
// }

// .copyright__link:hover .copyright__text {
//   color: $green-hover;
// }

// .copyright__link:active .copyright__text {
//   color: $green;
// }


// .copyright__text {
  // font-size: 11px;
  // line-height: 13px;
  // color: $black;
  // background-color: $blue-gray;
// }

.copyright__icon {
  display: grid;
  place-items: center;
  fill: $black;
  margin-left: 8px;

  @media (min-width: $tablet-width) {
    transform: scale(1.3);
    // width: 26px;
    // height: 32px;
  }
}

// .copyright__svg {
//   @media (min-width: $tablet-width) {
//     width: 26px;
//     height: 32px;
//   }
// }

