.social {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.social__element {
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }
}

.social__element:not(:last-child) {
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }
}

.social__link {
  // position: relative;
  display: grid;
  place-items: center;
  // display: block;
  width: 32px;
  height: 32px;
  color: $green;
  background-color: $blue-gray;
  border: 1px solid $green;
  border-radius: 50%;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.social__link:hover {
  color: $green-hover;
  border-color: $green-hover;
}

.social__link:focus {
  opacity: 0.7;
  outline: none;
}

.social__link:active {
  color: rgba($green, 0.5);
  border-color: rgba($green, 0.5);
}

.social__icon {
  // display: grid;
  // place-items: center;
  // нужны эти свойтсва выше?
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // margin: auto;
  // fill: $green;
  @media (min-width: $tablet-width) {
    transform: scale(1.2);
  }
}

// .social__icon-svg {
//   display: grid;
//   place-items: center;
// }

// .social__link--telegram .social__icon-svg {
//   @media (min-width: $tablet-width) {
//     width: 24px;
//     height: 24px;
//   }
// }

// .social__link--vkontakte .social__icon-svg {
//   @media (min-width: $tablet-width) {
//     width: 24px;
//     height: 19px;
//   }
// }

// .social__link--youtube .social__icon-svg {
//   @media (min-width: $tablet-width) {
//     width: 24px;
//     height: 24px;
//   }
// }


// .social__link--telegram .social__icon {
//   @media (min-width: $tablet-width) {
//     // width: 24px;
//     // height: 24px;
//     transform: scale(1.2);
//   }
// }

// .social__link--vkontakte .social__icon {
//   @media (min-width: $tablet-width) {
//     // width: 24px;
//     // height: 19px;
//   }
// }

// .social__link--youtube .social__icon {
//   @media (min-width: $tablet-width) {
// //     width: 24px;
// //     height: 24px;
//     transform: scale(1.2);
//   }
// }
